<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<!--easyui-->
	</head>

	<script type="text/javascript">
		$(function() {
			var model = new menu();
			model.lanch();
		});
	</script>

	<body>

		<div id="contant">
			<table id="tt" style="width: 100%;"></table>

			<div id="add" style="display: none;">
				<style type="text/css">
	
					form table tr{
						margin: 5px 0px;
					}
				</style>
				<form id="ff" method="post">
					<table style="margin:0 auto;">
						<tr >
							<td class="itemname">Name:</td>
							<td><input style="width: 200px;" class="easyui-textbox" type="text" name="name" data-options="required:true"></input>
							</td>
						</tr>
						<tr>
							<td class="itemname">备注:</td>
							<td><input  class="easyui-textbox" name="remarks" data-options="multiline:true" style="height: 60px;width: 200px;"></input>
							</td>
						</tr>
				</table>
				</form>

			</div>
				<script type="text/javascript">
					$.parser.parse('#contant');
				</script>
		</div>

	</body>

</html>