<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../static/js/webuploader/0.1.5/webuploader.css" />
		<link rel="stylesheet" href="../../static/css/fileup/demo.css" />
		<title>上传文件</title>
	</head>

	<body>
		<div id="uploaderdiv" style="width: 70%;border: solid black 1px;"></div>
		<div id="uploaderdiv2" style="width: 70%;border: solid black 1px;"></div>
	</body>
	<script type="text/javascript" src="../../static/js/jquery.min.js"></script>
	<script type="text/javascript" src="../../static/js/webuploader/0.1.5/webuploader.js"></script>
	<script type="text/javascript" src="../../static/js/fileup/fileupload.js"></script>
	<script type="text/javascript">
		var fileup1 = new fileUpLoad();
		fileup1.setInitInfo = function() {
			var _this = this;
			this.panel = $("body").find('#uploaderdiv');
			this.wrap = "#uploader" + _this.itemnumber;
			this.createInfo = {
				pick: {
					id: '#filePickerDiv' + _this.itemnumber,
					label: '点击选择图片'
				},
				dnd: '#uploader' + _this.itemnumber + ' .queueList',
				//paste: document.body,
				/*		accept: {
							title: 'Images',
							extensions: 'gif,jpg,jpeg,bmp,png',
							mimeTypes: 'image/*'
						},*/
				// swf文件路径
				swf: '' + 'webuploader/0.1.5/Uploader.swf',
				disableGlobalDnd: true,
				fileVal:"file",
				chunked: true,
				// server: 'http://webuploader.duapp.com/server/fileupload.php',
				server: '../2333',
				fileNumLimit: 300,
				fileSizeLimit: 5 * 1024 * 1024, // 200 M
				fileSingleSizeLimit: 1 * 1024 * 1024 // 50 M
			};
		};
		var fileup2 = new fileUpLoad();
		fileup2.setInitInfo = function() {
			this.infotext = "请选择文件";
			var _this = this;
			this.panel = $("body").find('#uploaderdiv2');
			this.wrap = "#uploader" + _this.itemnumber;
			this.createInfo = {
				pick: {
					id: '#filePickerDiv' + _this.itemnumber,
					label: '点击选择文件'
				},
				dnd: '#uploader' + _this.itemnumber + ' .queueList',
				//paste: document.body,
				/*		accept: {
							title: 'Images',
							extensions: 'gif,jpg,jpeg,bmp,png',
							mimeTypes: 'image/*'
						},*/
				// swf文件路径
				swf: '../../static/js/webuploader/0.1.5/Uploader.swf',
				disableGlobalDnd: true,
				fileVal:"file",
				chunked: false,
				// server: 'http://webuploader.duapp.com/server/fileupload.php',
				server: 'savefile',
				fileNumLimit: 300,
				fileSizeLimit: 50000 * 1024 * 1024, // 200 M
				fileSingleSizeLimit: 10000 * 1024 * 1024 // 50 M
			};
		};		
		//fileup1.lanch();
		fileup2.lanch();
	</script>

</html>