<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<!--easyui-->
		<script type="text/javascript">
			$(function() {
				var model = new task();
				model.lanch();
			});
		</script>
	</head>

	<body>

		<div id="contant">
			<table id="tt" style="width: 100%;"></table>

			<div id="add" style="display: none;">
				<style type="text/css">
					form table tr {
						margin: 5px 0px;
					}
				</style>
				<form id="ff" method="post">
					<table style="margin: 0 auto;">
						<tr>
							<td class="itemname">名称:</td>
							<td><input style="width: 200px;" class="easyui-textbox" type="text" name="jobName" data-options="required:true"></input>
							</td>
						</tr>
						<tr>
							<td class="itemname">jobStatus:</td>
							<td><input style="width: 200px;" class="easyui-textbox" type="text" name="jobStatus" data-options="required:true"></input>
							</td>
						</tr>
						<tr>
							<td class="itemname">表达式:</td>
							<td><input style="width: 200px;" class="easyui-textbox" type="text" name="cronExpression" data-options="required:true"></input>
							</td>
						</tr>
						<tr>
							<td class="itemname">类名:</td>
							<td><input style="width: 200px;" class="easyui-textbox" type="text" name="className" data-options="required:true"></input>
							</td>
						</tr>
						
						<tr>
							<td class="itemname">备注:</td>
							<td><input style="width: 200px;" class="easyui-textbox" type="text" name="desc" data-options="required:true"></input>
							</td>
						</tr>
					</table>
				</form>

			</div>
			<div id="edit" style="display: none;">
				<style type="text/css">
					form table tr {
						margin: 5px 0px;
					}
				</style>
				<form id="ff" method="post">
					<input type="hidden" value="" name="id" />
					<table style="margin: 0 auto;">
						<tr>
							<td class="itemname">名称:</td>
							<td><input style="width: 200px;" class="easyui-textbox" type="text" name="jobName" data-options="required:true"></input>
							</td>
						</tr>
						<tr>
							<td class="itemname">jobStatus:</td>
							<td><input style="width: 200px;" class="easyui-textbox" type="text" name="jobStatus" data-options="required:true"></input>
							</td>
						</tr>
						<tr>
							<td class="itemname">表达式:</td>
							<td><input style="width: 200px;" class="easyui-textbox" type="text" name="cronExpression" data-options="required:true"></input>
							</td>
						</tr>
						<tr>
							<td class="itemname">类名:</td>
							<td><input style="width: 200px;" class="easyui-textbox" type="text" name="className" data-options="required:true"></input>
							</td>
						</tr>
						
						<tr>
							<td class="itemname">备注:</td>
							<td><input style="width: 200px;" class="easyui-textbox" type="text" name="desc" data-options="required:true"></input>
							</td>
						</tr>
					</table>
				</form>

			</div>
			<script type="text/javascript">
				$.parser.parse('#contant');
			</script>
		</div>

	</body>

</html>