<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- nanmespace:命名空间。 作用就是对sql进行分类话管理，理解Sal分离 注意：使用mapper代理方式，namespace有特殊重要的作用 -->
<mapper namespace="cn.test.core.menu.dao.IMenuDao">



	<select id="selectFromMenu" resultType="cn.test.po.Menu">
		select * from menu
	</select>
	
	
	<select id="selectFromMenuByPageInfo" resultType="cn.test.po.Menu">
		select * from menu
	</select>
	
	<insert id="addMenu" useGeneratedKeys="true" keyProperty="id" parameterType="cn.test.po.Menu">
		insert into menu(id,name,pid,icon,url)values(#{id},#{name},#{pid},#{icon},#{url})
	</insert>
	
	<update id="updateMenu" parameterType="cn.test.po.Menu">
		update menu  
			<trim prefix="SET" suffixOverrides=",">  
		        <if test="name != null"> name = #{name},</if>  
		        <if test="url != null">url = #{url},</if>  
		        <if test="icon != null">icon = #{icon},</if>
				<if test="pid != null">pid = #{pid},</if>    	         
	    	</trim>  
    	WHERE id = #{id}
	</update>
	
	
	
</mapper>